{% extends 'base.html' %}
{% load static %}

{% block title %}Users Page{% endblock %}

{% block content %}
    <a href="{% url 'add_users' %}">Add User</a>


    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button>Search!</button>
    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Birth date</th>
            <th>User ID</th>
        </tr>
        {% for User in users %}
            <tr>
                <td>{{ User.full_name }}</td>
                <td>{{ User.phone }}</td>
                <td>{{ User.birth_date|default_if_none:"Data is not present" }}</td>
                <td>{{ User.id_card }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
